{{page-title "Location"}}
<div class="tab-pane fade show active">
    <div class="row">
    {{#each @model as |location|}}
        <div class="col col-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        {{location.name}}
                    </h5>
                    <p class="card-text">{{location.phone}}</p>
                    <button class="btn btn-primary" type="button" {{on 'click' (fn this.setSelectedLocation location)}}>Select</button>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
{{outlet}}