{{page-title "Simpleppractice"}}

<BsNavbar @type="dark" @backgroundColor="primary">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Demo practice</a>
  </div>
</BsNavbar>

<div class="container-md">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col col-md-3">
                <ul class="nav flex-column">
                    <SidebarNav
                            @isActive={{true}}
                            @title="Select service"
                            @order="1"
                            @route="request.service"
                            @isPassed={{this.selection.service}}
                    >
                        {{this.selection.service.description}}<br/>{{this.selection.service.duration}} minutes
                    </SidebarNav>
                    <SidebarNav
                            @isActive={{this.selection.service}}
                            @title="Select location"
                            @order="2"
                            @route="request.location"
                            @isPassed={{this.selection.location}}
                    >
                        {{this.selection.location.name}}
                    </SidebarNav>
                    <SidebarNav
                            @isActive={{this.selection.location}}
                            @title="Select date and time"
                            @order="3"
                            @route="request.location"
                            @isPassed={{this.selection.date}}
                    ></SidebarNav>
                    <SidebarNav
                            @isActive={{this.selection.date}}
                            @title="Your information"
                            @order="4"
                            @route="request.location"
                            @isPassed={{this.selection.date}}
                    ></SidebarNav>
                </ul>
            </div>
            <div class="col col-md-9">
                <div class="tab-content">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>